@mixin flexs($aligItem, $justifyContent, $gap) {
  display: flex;
  align-items: $aligItem;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin button {
  padding: 2rem 4rem;

  border-radius: 0.3rem;
}

@mixin transition($top, $left) {
  left: $left;

  top: $top;

  transform: translate(-50%, -50%);
}